@import "/home/jon/.cache/wal/colors-waybar.css";
* {
  all: unset;
  font-size: 14px;
  font-family: "0xProto Nerd Font Mono";
  /* transition: 200ms; */
}

trough highlight {
  background: #cdd6f4;
}

scale trough {
  margin: 0rem 1rem;
  background-color: #313244;
  min-height: 8px;
  min-width: 70px;
}

slider {
  background-color: #89b4fa;
}

.floating-notifications.background .notification-row .notification-background {
  /* box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px #313244; */
  border: 2px solid alpha(@color15, 0.93);
  border-radius: 12.6px;
  margin: 18px;
  background-color: alpha(@color0, 0.8);
  color: @color3;
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 12.6px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  /* box-shadow: inset 0 0 7px 0 #f38ba8; */
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .summary {
  color: @color3;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .time {
  color: @color2;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .body {
  color: @color1;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 7px;
  color: @color3;
  background-color: #313244;
  /* box-shadow: inset 0 0 0 1px #45475a; */
  margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  /* box-shadow: inset 0 0 0 1px #45475a; */
  background-color: @color0;
  color: @color3;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  /* box-shadow: inset 0 0 0 1px #45475a; */
  background-color: @color0;
  color: @color3;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: #1e1e2e;
  background-color: #f38ba8;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: #eba0ac;
  color: #1e1e2e;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: #f38ba8;
  color: #1e1e2e;
}

.control-center {
  /* box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px #313244; */
  /* border: 4px solid alpha(#f5e0dc, 10.93*; */
  border-radius: 12.6px;
  margin: 18px;
  background-color: alpha(@color0, 1/*0.8*/);
  color: @color3;
  padding: 14px;
}

.control-center .widget-title > label {
  color: @color3;
  font-size: 1.3em;
}

.control-center .widget-title button {
  border-radius: 7px;
  color: @color3;
  /* border: 2px solid alpha(@color3, 0.93); */
  /* background-color: alpha(#313244, 0.67); */
  background-color: @color0;
  /* box-shadow: inset 0 0 0 1px #45475a; */
  padding: 8px;
}

.control-center .widget-title button:hover {
  /* box-shadow: inset 0 0 0 1px #45475a; */
  /* border: 4px solid alpha(#f2cdcd, 0.93); */
  /* background-color: alpha(#585b70, 0.67); */
  color: @color15;
}

.control-center .widget-title button:active {
  /* box-shadow: inset 0 0 0 1px #45475a; */
  /* border: 4px solid alpha(#f5e0dc, 0.93); */
  /* background-color: alpha(#74c7ec, 0.67); */
   color: @color4; 
}

.control-center .notification-row .notification-background {
  border-radius: 7px;
  border: 2px solid alpha(@color15, 0.93);
  color: @color4;
  background-color: alpha(@color0, 0.67);
  /* box-shadow: inset 0 0 0 1px #45475a; */
  margin-top: 14px;
}

.control-center .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 7px;
}

.control-center .notification-row .notification-background .notification.critical {
  /* box-shadow: inset 0 0 7px 0 #f38ba8; */
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}

.control-center .notification-row .notification-background .notification .notification-content .summary {
  color: @color3;
}

.control-center .notification-row .notification-background .notification .notification-content .time {
  color: @color2;
}

.control-center .notification-row .notification-background .notification .notification-content .body {
  color: @color1;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 7px;
  color: #cdd6f4;
  background-color: #11111b;
  /* box-shadow: inset 0 0 0 1px #45475a; */
  margin: 7px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  /* box-shadow: inset 0 0 0 1px #45475a; */
  background-color: #313244;
  color: #cdd6f4;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  /* box-shadow: inset 0 0 0 1px #45475a; */
  background-color: #74c7ec;
  color: #cdd6f4;
}

.control-center .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: #1e1e2e;
  background-color: #eba0ac;
}

.close-button {
  border-radius: 6.3px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: #f38ba8;
  color: #1e1e2e;
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: #f38ba8;
  color: #1e1e2e;
}

.control-center .notification-row .notification-background:hover {
  /* box-shadow: inset 0 0 0 1px #45475a; */
  background-color: #7f849c;
  color: #cdd6f4;
}

.control-center .notification-row .notification-background:active {
  /* box-shadow: inset 0 0 0 1px #45475a; */
  background-color: #74c7ec;
  color: #cdd6f4;
}

.notification.critical progress {
  background-color: #f38ba8;
}

.notification.low progress,
.notification.normal progress {
  background-color: #89b4fa;
}

.control-center-dnd {
  margin-top: 5px;
  border-radius: 8px;
  background: #313244;
  border: 1px solid #45475a;
  /* box-shadow: none; */
}

.control-center-dnd:checked {
  background: #313244;
}

.control-center-dnd slider {
  background: alpha(#45475a, 0.67);
  border-radius: 8px;
}

.widget-dnd {
  margin: 0px;
  font-size: 1.1rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 8px;
  background: alpha(#313244, 0.67);
  /* border: 1px solid #45475a; */
  border: 4px solid alpha(#b4befe, 0.93);
  /* box-shadow: none; */
}

.widget-dnd > switch:checked {
  background: alpha(#313244, 0.67);
  border: 4px solid alpha(#f38ba8, 0.93);
}

.widget-dnd > switch slider {
  background: alpha(#45475a, 0.67);
  border-radius: 4px;
  /* border: 1px solid #6c7086; */ 
  border: 0px solid alpha(#f38ba8, 0.93); 
}

.widget-mpris .widget-mpris-player {
  background: alpha(@color0, 1/*0.67*/);
  color: @color1;
  border-radius: 12.6px;
  /* border: 4px solid alpha(@color1, 0.93); */
  padding: 7px;
}

.widget-mpris .widget-mpris-title {
  /* font-size: 1.2rem; */
}

.widget-mpris .widget-mpris-subtitle {
  /* font-size: 0.8rem; */
}

.widget-menubar > box > .menu-button-bar > button > label {
  font-size: 3rem;
  padding: 0.5rem 2rem;
}

.widget-menubar > box > .menu-button-bar > :last-child {
  color: #f38ba8;
}

.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
  background: #313244;
}

.control-center .widget-label > label {
  color: #cdd6f4;
  font-size: 2rem;
}

.widget-buttons-grid {
  padding-top: 1rem;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
  font-size: 2.5rem;
}

.widget-volume {
  padding-top: 1rem;
}

.widget-volume label {
  font-size: 1.5rem;
  color: #74c7ec;
}

.widget-volume trough highlight {
  background: #74c7ec;
}

.widget-backlight trough highlight {
  background: #f9e2af;
}

.widget-backlight label {
  font-size: 1.5rem;
  color: #f9e2af;
}

.widget-backlight .KB {
  padding-bottom: 1rem;
}

.image {
  padding-right: 0.5rem;
}
